.form__container {
  padding-top: 2rem;
  grid-template-columns: 300px;
  justify-content: center;
}

.form__content {
  box-shadow: 0px 8px 51px 0px rgba(0, 0, 0, 0.192);
}

.form {
  padding: 2rem 1.5rem;
  background-color: var(--container-color);
  display: grid;
}

.form__title {
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  text-align: center;
  color: var(--white-color);
  margin-bottom: 1.5rem;
}

.form__inputs {
  display: grid;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.form__inputs input::placeholder {
  font-weight: var(--font-semi-bold);
  color: var(--text-color-light);
}

.form__inputs input {
  background-color: transparent;
  border: 1px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.25rem;
  color: var(--text-color);
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input:focus {
  border: 1px solid var(--first-color);
}

input:focus::placeholder {
  color: var(--first-color);
}

.form__error {
  display: block;
  color: var(--red-color);
  font-weight: var(--font-medium);
  margin-bottom: 1.5rem;
}

.form__checkbox {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
  margin-bottom: 2.5rem;
  font-size: var(--small-font-size);
}

#checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  padding: 0;
  border: 1px solid var(--border-color);
  cursor: pointer;
  position: relative;
  border-radius: 0.25rem;
}

#checkbox:checked {
  background: var(--first-color);
  border: none;
}

#checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(../assets/images/check-line.svg);
  mix-blend-mode: difference;
  background-size: contain;
  display: none;
}

#checkbox:checked::before {
  display: block;
}

.form__checkbox label a {
  color: var(--white-color);
  margin-left: 0.25rem;
  font-weight: var(--font-semi-bold);
  text-decoration-line: underline;
}

.login__link {
  font-size: var(--small-font-size);
  color: var(--text-color);
  text-align: center;
  display: block;
  margin-top: 2.5rem;
}

.login__link a {
  color: var(--white-color);
  margin-left: 0.5rem;
  font-weight: var(--font-semi-bold);
  text-decoration-line: underline;
}

/* form error */
.form__error {
  opacity: 0;
}

/* show form error */
.show__form-error {
  opacity: 1;
}

.heigth-fixed {
  height: 607px;
}
@media screen and (min-width: 576px) {
  .form__container {
    grid-template-columns: 400px;
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  .form__container {
    padding-top: 5rem;
    grid-template-columns: 400px 370px;
    justify-content: center;
  }
}
