.product__container {
  padding-top: 4rem;
  grid-template-columns: 312px;
  justify-content: center;
  gap: 2rem;
}

.product__image {
  position: relative;
  width: 310px;
  height: 310px;
  border: 2px solid var(--border-color);
  display: grid;
  place-items: center;
}

.product__image img {
  position: absolute;
  width: 260px;
  height: 274px;
  object-fit: cover;
  object-position: center;
}

.product__info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.product__info-title {
  color: var(--white-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
}

.product__info-category {
  font-weight: var(--font-regular);
}

.product__info-button {
  cursor: pointer;
  background-color: #ff4e4e1c;
  padding: 0.8rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.product__info-button i {
  font-size: 1.25rem;
  color: var(--red-color);
}

.product__info-description {
  line-height: 21px;
  font-weight: var(--font-regular);
  margin-bottom: 1.5rem;
}

.product__review {
  display: inline-flex;
  align-items: center;
  column-gap: 0.875rem;
  margin-bottom: 3.5rem;
}

.product__stars i {
  font-size: 1.25rem;
  color: var(--green-color);
}

.product__review-text {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.product__review-text span {
  color: var(--white-color);
}

.product__info-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__total {
  font-size: var(--h2-font-size);
  color: var(--white-color);
  font-weight: var(--font-bold);
}

.add-to-cart-button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.add-to-cart-button i {
  font-size: 1.25rem;
  transition: 0.3s;
}

.add-to-cart-button:hover i {
  transform: translateX(0.25rem);
}

/* ####### REVIEW SECTION ########*/
.review__content {
  margin-top: 2.5rem;
}
.review__card {
  background-color: var(--container-color);
  padding: 2rem 1.25rem;
  box-shadow: 0px 8px 51px 0px rgba(0, 0, 0, 0.17);
}

.review__card-profile {
  position: relative;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.review__card-profile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  object-position: center;
}

.review__card-rating {
  position: absolute;
  bottom: 0.4rem;
  right: -1.45rem;
  background-color: var(--green-color);
  color: var(--white-color);
  display: grid;
  place-items: center;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.review__card-title {
  color: var(--white-color);
  font-weight: var(--font-bold);
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
  line-height: 30px;
}

.review__card-text {
  line-height: 21px;
  font-weight: var(--font-medium);
}

/* ####### ADD REVIEW SECTION ########*/
.add-review__content {
  padding-top: 2.25rem;
  row-gap: 1.5rem;
}

.add-review__form {
  display: grid;
  row-gap: 1.25rem;
}

.add-review__form textarea::placeholder,
.add-review__form input::placeholder {
  font-weight: var(--font-medium);
  font-family: var(--body-font);
  color: var(--text-color-light);
}

.add-review__form textarea {
  -webkit-appearance: none;
  -moz-apperarance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  resize: none; /* fica na parte inferior a direita */
}

.add-review__form textarea:focus,
.add-review__form input:focus {
  border: 1px solid var(--first-color);
}

.add-review__form input,
textarea {
  transition: border 0.3s;
  border: 1px solid var(--border-color);
  padding: 1.25rem;
  background: transparent;
}

.add-review__title {
  color: var(--white-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 0.75rem;
}

.add-review__stars i {
  cursor: pointer;
  font-size: 1.5rem;
  color: #02a86b85;
}

.add-review__stars {
  margin-bottom: 2.75rem;
}

.outline__button {
  border: 1px solid #bbbcbd;
  background: transparent;
  color: var(--white-color);
  font-weight: var(--font-medium);
  padding: 1rem 2rem;
}

/* ####### SIMILLAR PRODUCTS SECTION ########*/
.simillar__content {
  padding-top: 3.25rem;
  justify-content: center;
  gap: 2rem;
}

.simillar__card {
  background-color: var(--container-color);
  padding: 1.25rem;
  transition: 0.4s;
}

.simillar__card:hover {
  cursor: pointer;
  box-shadow: 0px 8px 51px 0px rgba(0, 0, 0, 0.17);
}

.simillar__card-img {
  position: relative;
  height: 246px;
  width: 280px;
  margin-bottom: 1.25rem;
}

.simillar__image-button {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: var(--bg-glass-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  color: var(--white-color);
  backdrop-filter: blur(12px);
}

.simillar__card-img img {
  position: relative;
  object-fit: cover;
  object-position: center;
  height: 246px;
  width: 280px;
}

.simillar__card-data {
  margin-bottom: 3rem;
}

.simillar__card-title {
  font-size: var(--h3-font-size);
  color: var(--white-color);
  font-weight: var(--font-bold);
  margin-bottom: 0.75rem;
}

.simillar__card-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simillar__card-price {
  font-size: var(--h3-font-size);
  color: var(--white-color);
  font-weight: var(--font-bold);
}

.simillar__card-button button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.simillar__card-button button:hover i {
  transform: translateX(0.25rem);
}

.simillar__card-button button i {
  font-size: 1.25rem;
  transition: 0.3s;
}

/*###############  BREAKPOINTS ###############*/
/* for small devices */
@media screen and (min-width: 576px) {
  .add-review__container {
    grid-template-columns: 500px;
    justify-content: center;
  }
}

/* for medium devices */
@media screen and (min-width: 767px) {
  .product__container {
    grid-template-columns: repeat(2, 327px) ;
    column-gap: 4rem;
    align-items: center;
  }
}

/* for large devices */
@media screen and (min-width: 1024px) {
  .product__container {
    grid-template-columns: repeat(2, 400px) ;
    column-gap: 4rem;
  }

  .product__image {
    width: 400px;
    height: 400px;
  }

  .product__image img {
    width: 360px;
    height: 360px;
  }
}

@media screen and (min-width: 1120px) {
  .product__container {
    column-gap: 5rem;
  }

  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }
}
